email=vinyomkr17@gmail.com
#always-auth=true
#you have to generate below code in jenkins server
#to generate use (echo -n "admin:passw0rd" | openssl base64)
_auth=YWRtaW46cGFzc3cwcmQ=
allowRepublish=true
